.Input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.Label {
    font-weight: 600;
    margin-bottom: 10px;
    display: block
}

.InputElement {
    border: 1px solid #ccc;
    padding: 6px 10px;
    background-color: #fff;
    outline: 0;
    display: block;
    width: 100%
}
.InputElement:focus {
    outline: 0;
    background-color: #ccc;
}