.FormData {
    margin: 40px auto;
    width: 50%;
    text-align: center;
    box-shadow: 0 1px 3px #514f4fc2;
    border: 1px solid #eee;
    padding: 20px;
    box-sizing: border-box;
    background: #ffffff;
    border-radius: 3px;
}

.FormData h3 {
    color: #2e2c2b
}

.Input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    padding: 6px 10px;
    background-color: #fff;
    outline: 0;
    display: block;
    width: 100%;
    margin: 20px auto !important;
    border-radius: 1.5px
}
.Input:focus {
    outline: 0;
    background-color: #ccc;
}
form button {
    width: 100%;
    background: #2e2c2b;
    color: #fff;
    padding: 10px;
    border: 1px solid #2e2c2b;
    border-radius: 3px;
    font-weight: 600;
}

.Test {
    color: red
}